body {
	background-color: #101010;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.frame {
	width: 77.5%;
	height: 99%;
	margin: 0;
	padding: 0;
}
